snippet ds "Docstring" !b
"""
${1:docstring}
"""$2
endsnippet

snippet ef "Minimalistic def" !b
def ${1:function}(${2:arg1}):
	${4:pass}
endsnippet

snippet pr "Print" !b
print "$1"$2
endsnippet

snippet pri "Minimalistic print" !b
print $1
endsnippet

snippet for "for" !b
for ${1:n} in ${2:?}:
	${3:?}
endsnippet

snippet if "if" !b
if ${1:?}:
	${2:?}
endsnippet

snippet elif "elif" !b
elif ${1:?}:
	${2:?}
endsnippet

snippet ret "return" !b
return ${1:True}
endsnippet
